{% extends "base.html" %}
{% load static %}


{% block content %}
<h1 align="center"> About Us </h1>
<p align ="center"> Welcome to the Group 1 Book Exchange System. </p>

<p> Here at G1BE, we value integrity, literacy, and respect. Our founding members met one fateful day and decided to create
a system for students to exchange books. Thanks to that day, we have managed to exchange somewhere
between 0 and 1 million books in the Los Angeles County Region. </p>

<p> Please meet our Founding Members: </p>

<!-- Eventually add our headshots -->
<ul> Jonathan Aguirre </ul>
<ul> Esteban Alvarado </ul>
<ul> Mario Avila </ul>
<ul> Nathan Campos </ul>
<ul> Bailey Canham </ul>
<ul> Jimmy Castillo </ul>

<p>Thank you and happy reading!</p>
{% endblock content %}