{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 align="center"> My Books </h1>
  <table class="table table-hover">
       <tr>
          <th scope="col">Title</th>
          <th scope="col">Book Cover</th>
          <th scope="col">Uploaded by</th>
           <th scope="col">Delete?</th>
       </tr>

      {% for book in books %}
        <tr>
            <td>
                <a href="book_detail/{{ book.id }}"> {{ book.name }} </a>
            </td>
            <td>
                <img src="{% static book.pic_path %}" width="60" height="60">
            </td>
            <td>
                {{ book.username }}
            </td>
            <td >
                <a href="book_delete/{{ book.id }}"> Delete </a>
            </td>
            {% if book.rating == '1' %}
               <td align="center">
                   <img src="{% static '1StarRating.png' %}" width="120" height="20">
               </td>
            {% elif book.rating == '2' %}
               <td align="center">
                   <img src="{% static '2StarRating.png' %}" width="120" height="20">
               </td>
            {% elif book.rating == '3' %}
               <td align="center">
                   <img src="{% static '3StarRating.png' %}" width="120" height="20">
               </td>
            {% elif book.rating == '4' %}
               <td align="center">
                   <img src="{% static '4StarRating.png' %}" width="120" height="20">
               </td>
            {% elif book.rating == '5' %}
               <td align="center">
                   <img src="{% static '5StarRating.png' %}" width="120" height="25">
               </td>
            {% endif %}
        </tr>
      {% endfor %}
  </table>
{% endblock content %}