@charset "utf-8";

body {
    background-image: url("book_wallpaper.png");
    background-repeat: round;
}

.container {
    background-color: #ffffff !important;
}

#footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}

#leftsidebar {
    width: 180px;
    height: 350px;
    float: left;
}

#nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    list-style-type: none;
    border-bottom: thin solid #5F5F5F;
    color: #ffffff;
    padding-left: 10px;


}


#main {
    width: 560px;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}